.div {
    text-align: center;
}
.chessboard{
    width: 400px;
    height: 400px;
    border: 2px solid #333;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.square{
    width: 50px;
    height: 50px;
}

.white_square {
    background-color: rgb(250, 253, 255);
}

.black_square {
    background-color: black;
}
